@font-face {
    font-family: 'Mensura';
    src: url(./Mensura-Regular.ttf);
}

@font-face {
    font-family: 'Mensura-Black';
    src: url(./Mensura-Black.ttf); 
}

@font-face {
    font-family: 'Mensura-Bold';
    src: url(./Mensura-Bold.ttf); 
}