.banner-text {
    font-family: 'Mensura';
    color: white;
    position: absolute;
    top: 38.2%;
    left: 11.5%;
    width: 500px;
}

.h1-text {
    font-size: 48px;
    letter-spacing: .18em;
    line-height: 1.18;
}

.font-black {
    font-family: 'Mensura-Black';
}

.normal-paragraph {
    line-height: 1.5;
}

.read-more-banner {
    background-color: #090f1d;
    padding: 20px;
    padding-right: 28px;
    padding-left: 18px;
    margin-left: 0.35%;
    text-decoration: none;
    font-family: 'Mensura-Bold';
    font-size: 13px;
    color: white;
    letter-spacing: 0.15em;
    line-height: 60px;
}

.arrow-svg {
    transform: translate(1px, 6px);
}