.news-section {
    margin: -4px;
    height: 900px;
    position: relative;
    background: radial-gradient(circle,#29313b 15%,#090f1d 100%);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: radial-gradient(circle, rgb(41, 49, 59) 15%, rgb(9, 15, 29) 100%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}


.news-section-title {
    color: white;
    font-family: 'Mensura';
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;
}

.news-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    left: 12%;
    top: 17%;

}

.news-preview2 {
    background-color: yellow;
}

.news-preview3 {
    background-color: lightgray;
}

.news-preview4 {
    background-color: yellow;
}

.news-picture {
    width: 95%;
}

.news-text {
    color: white;
    font-family: 'Mensura';
}

.h3-text {
    font-family: 'Mensura-Black';
    font-weight: 400;
    line-height: 1.5;
}

.normal-paragraph {
    font-size: 14px;
    font-weight: 200;
}